@import 'tailwindcss';

@theme {
	--font-sans: Satoshi, sans-serif;
	--font-cabinet: 'Cabinet Grotesk', sans-serif;

	--color-primary: oklch(0.45 0.22 148); /* Verde personalizado */
}

* {
	transition:
		background-color 1s ease-out,
		color 1s ease-out,
		border 1s ease-out,
		transform 0.4s ease-out,
		box-shadow 1s ease-out,
		stroke 0.4s ease-out;
}

html {
	scroll-behavior: smooth;
}

:target {
	scroll-margin-top: 9rem;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Cabinet Grotesk';
	src: url('/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2');
	font-weight: 800;
	font-display: swap;
}

@layer components {
	.heading-1 {
		@apply font-cabinet text-5xl font-extrabold text-pretty text-neutral-950 md:text-6xl;
	}

	.heading-2 {
		@apply font-cabinet text-3xl font-bold text-pretty text-neutral-950 md:text-4xl;
	}

	.heading-3 {
		@apply font-cabinet text-xl font-bold text-pretty text-neutral-950 md:text-2xl;
	}

	.p {
		@apply text-base text-pretty text-neutral-800 md:text-lg;
	}

	.my-border {
		@apply border-green-950;
	}

	.my-bg {
		@apply bg-green-500 hover:bg-green-600;
	}

	.my-component-bg {
		@apply bg-white/80 backdrop-blur-xl;
	}

	.my-active-bg {
		@apply bg-sky-500 hover:bg-sky-600;
	}

	.my-effect {
		@apply hover:translate-x-0.5 hover:-translate-y-0.5 active:translate-x-0 active:translate-y-0;
	}

	.my-stroke {
		@apply stroke-green-950;
	}

	.my-stroke-icon {
		@apply stroke-neutral-800;
	}

	.my-span {
		@apply text-sky-800;
	}

	.my-shadow {
		@apply shadow-[5px_5px_0px_rgba(5,46,22,1)];
	}
}
