@import 'tailwindcss';

@theme {
	--font-sans: Satoshi, sans-serif;
	--font-cabinet: 'Cabinet Grotesk', sans-serif;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 9rem;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Cabinet Grotesk';
	src: url('/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2');
	font-weight: 800;
	font-display: swap;
}

@layer components {
	.heading-1 {
		@apply font-cabinet text-5xl font-extrabold text-pretty text-neutral-950 md:text-6xl lg:text-7xl;
	}

	.heading-2 {
		@apply font-cabinet text-3xl font-bold text-pretty text-neutral-950 md:text-4xl;
	}

	.heading-3 {
		@apply font-cabinet text-xl font-bold text-pretty text-neutral-950 md:text-2xl;
	}

	.heading-4 {
		@apply font-cabinet text-lg font-bold text-pretty text-neutral-900 md:text-xl;
	}

	.p {
		@apply text-base text-pretty text-neutral-800 md:text-lg;
	}

	.my-border {
		@apply border-green-950;
	}

	.my-bg {
		@apply bg-green-500 transition-colors duration-700 ease-out hover:bg-green-600;
	}

	.my-component-bg {
		@apply bg-white/80 backdrop-blur-xl;
	}

	.my-active-bg {
		@apply bg-sky-500 transition-colors duration-700 ease-out hover:bg-sky-600;
	}

	.my-stroke {
		@apply stroke-green-950;
	}

	.my-effect {
		@apply transition-transform duration-700 ease-out hover:translate-x-1 hover:-translate-y-1;
	}

	.my-stroke-icon {
		@apply stroke-neutral-800;
	}

	.my-span {
		@apply text-sky-800;
	}

	.my-shadow {
		@apply shadow-[5px_5px_0px_rgba(5,46,22,1)];
	}
}
