@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	transition:
		background-color 1s ease-out,
		color 1s ease-out,
		border 1s ease-out,
		transform 0.4s ease-out,
		stroke 0.4s ease-out;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Cabinet Grotesk';
	src: url('/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2');
	font-weight: 800;
	font-display: swap;
}

@layer components {
	.heading-1 {
		@apply text-pretty font-cabinet text-5xl font-extrabold text-neutral-950 md:text-6xl dark:text-neutral-50;
	}

	.heading-2 {
		@apply text-pretty font-cabinet text-3xl font-bold text-neutral-950 md:text-4xl dark:text-neutral-50;
	}

	.heading-3 {
		@apply text-pretty font-cabinet text-xl font-bold text-neutral-950 md:text-2xl dark:text-neutral-50;
	}

	.p {
		@apply text-pretty text-base text-neutral-800 md:text-lg dark:text-neutral-200;
	}

	.my-border {
		@apply border-green-900 dark:border-green-50;
	}

	.my-bg {
		@apply bg-green-500 hover:bg-green-600 dark:bg-green-600 dark:hover:bg-green-500;
	}

	.my-component-bg {
		@apply bg-white dark:bg-black;
	}

	.my-effect {
		@apply hover:-translate-y-0.5 hover:translate-x-0.5 active:translate-x-0 active:translate-y-0;
	}

	.my-stroke {
		@apply stroke-green-900 dark:stroke-green-50;
	}

	.my-span {
		@apply text-sky-800 dark:text-sky-400;
	}
}
